<!DOCTYPE html>
<html>
  <%- include('./header');%>
  <body>
      <h1>Register Page</h1>
      <%if(errorMessage != ''){%>
        <div class="alert alert-danger">
          <strong>Warning!</strong>  <%= errorMessage%>
        </div>
      <%}%>
      <form action="/register" method="post">
        <div>
            <label>UserName：</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password：</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Register"/>
        </div>
      </form>
  </body>
</html>